<div id="showboard" style='height:600px; overflow-y: auto;'>
	
    <table border="0">
    	<tr>
    		<th width="19%" style="text-align: center">Story</th>
    		<th width="19%" style="text-align: center">Blockers</th>
    		<th width="19%" style="text-align: center">To Do</th>
    		<th width="19%" style="text-align: center">Work in Progress</th>
    		<th width="19%" style="text-align: center">Done</th>
        </tr>
    	<tr>
    	<td id="story" style="align: cente;vertical-align:top"></td>
    	<td id="blocker" style="align: cente;vertical-align:top"></td>
    	<td id="todo" style="align: cente;vertical-align:top"></td>
    	<td id="wip" style="align: cente;vertical-align:top"></td>
    	<td id="done" style="align: cente;vertical-align:top"></td>
    	
    	</tr>
    </table> 
    
</div>